@import 'libs/bootstrap-reboot.min';
@import 'libs/tiny-slider';
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&family=Roboto:wght@300;400;700&display=swap');
@import 'base/variables';

* {
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.divider {
    margin: 0 auto;
    width: 148px;
    height: 1px;
    background-color: $main-color;
}

@import 'blocks/ordercall';
@import 'blocks/titles';
@import 'blocks/buttons';
@import 'blocks/header';
@import 'blocks/promo';
@import 'blocks/benefit';
@import 'blocks/work';
@import 'blocks/infoblock';
@import 'blocks/form-input';
@import 'blocks/price';
@import 'blocks/scheme';
@import 'blocks/feedback';
@import 'blocks/contact';
@import 'blocks/footer';